@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#dff0f2, rgb(185, 210, 240));
    
}

.front{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.front img {
    margin-bottom: 20px;
    width: 170px;
}

button a{
    text-decoration: none;
}

.front button {
    margin-bottom: 20px;
    background-color: white;
    outline: none;
    border: none;
    width: 400px;
    height: 50px;
    color: #062764;
    font-weight: 600;
    border-radius: 13px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.104);
    cursor: pointer;
}

.front button:hover{
    background-color: #0FD9DD;
    color: white;
    transition: 0.5s;
}